<h3>Backbone To-do List App</h3>

<p>Your tasks:</p>

<table id="tasksTable" style="border:0;"></table>

<div style="float:left; background-color:lightblue; padding:10px; margin-top:15px;">
   <p>
      You can <a id="addLink" href="javascript:void(0);">add</a> a new item.
   </p>

   <p>
      Sort order:
      <select id="sortOrderSelector"></select>
   </p>
</div>