<h3>Backbone To-do List App</h3>

<p>Your tasks:</p>

<table id="tasksTable" style="border:0;"></table>

<div style="float:left; background-color:lightblue; padding:10px; margin-top:15px;">
   <p>
      You can <a id="addLink" href="javascript:void(0);">add</a> a new item.
   </p>

   <p>
      You can sort by
      <a id="sortByName" href="javascript:void(0);">name</a>
      or by
      <a id="sortByPriority" href="javascript:void(0);">priority</a>.
   </p>
</div>