<h3>Backbone To-do List App</h3>

<p>Your tasks:</p>

<table id="tasksTable" style="border:0;"></table>

<p>
   You can <a id="addLink" href="#">add</a> a new item.
</p>

<p>
   You can sort by <a id="sortByName" href="#">name</a> or by <a id="sortByPriority" href="#">priority</a>.
</p>
