<td>
   <input id="isCompleted" type="checkbox"/>
</td>
<td>
   <input id="description" type="text"/>
</td>
<td>
   <select id="prioritySelector"></select>
</td>
<td>
   {{#if isCompleted}} - Completed!{{/if}}
</td>